# conf

## import

In [1]:
#1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#2
import json

In [2]:
data= pd.read_json('conf.json', orient=str)

In [3]:
data.head()

,general,default,input,temporal,output,graph_generator,simulator,visualizer
random_seed,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
simulation_name,10K,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_steps,720,NaN,NaN,NaN,NaN,NaN,NaN,NaN
base_date,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min_amount,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.tail()

,general,default,input,temporal,output,graph_generator,simulator,visualizer
wcc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,wcc.png
alert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alert.png
count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,count.png
clustering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cc.png
diameter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,diameter.png

In [5]:
data.shape

(48, 8)

In [6]:
data.columns

Index(['general', 'default', 'input', 'temporal', 'output', 'graph_generator',
       'simulator', 'visualizer'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48 entries, random_seed to diameter
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   general          4 non-null      object
 1   default          13 non-null     object
 2   input            7 non-null      object
 3   temporal         4 non-null      object
 4   output           14 non-null     object
 5   graph_generator  3 non-null      object
 6   simulator        4 non-null      float64
 7   visualizer       6 non-null      object
dtypes: float64(1), object(7)
memory usage: 3.4+ KB

In [8]:
data.describe()

         simulator
count     4.000000
mean    251.750000
std     498.844248
min       0.000000
25%       0.000000
50%       3.500000
75%     255.250000
max    1000.000000

In [9]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
general,4,4,10K,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
default,13,10,-1,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
input,7,7,alertPatterns.csv,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
temporal,4,4,tmp,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
output,14,14,sar_accounts.csv,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
graph_generator,3,2,,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
simulator,4,NaN,NaN,NaN,251.75,498.844,0,0,3.5,255.25,1000
visualizer,6,6,cc.png,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Checking the Missing Value
data.isnull().sum().sort_values(ascending=False)

graph_generator    45
simulator          44
temporal           44
general            44
visualizer         42
input              41
default            35
output             34
dtype: int64

## the end